.manage-medicine {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  width: 100%;
  background-color: #eff1f5;
  height: 1500px;
  display: flex;

  .container-medicine {
    width: 100%;
    margin: 50px;
    background-color: #fff;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    padding: 30px;
    .left-container {
      margin: 20px;
      border-radius: 10px;
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .filter-container {
        width: 100%;
        background-color: #eff1f5;
        border-radius: 10px;
        height: 200px;
        .type-search {
          margin-left: 15px;
          margin-top: 10px;
          label {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 5px;
          }
          .type-select {
            width: 90%;
          }
        }
        .search-container {
          margin-top: 20px;
          margin-left: 15px;
          margin-bottom: 20px;
          label {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 5px;
          }
          .search {
            width: 90%;
            justify-content: space-between;
            display: flex;
            border: 1px solid #180202;
            outline: black;
            border-radius: 15px;
            input {
              border-radius: 15px;
              border: none;
              width: 80%;
              height: 35px;
              outline: none;
            }
            .icon-container {
              border-radius: 9px;
              width: 20%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #0a1128;
              i {
                // background-color: aqua;
                font-size: 20px;
                color: white;
              }
            }
          }
        }
      }
      .statistical-container {
        // background-color: #fff;
        background-color: #eff1f5;
        height: 200px;
        border-radius: 10px;
        width: 100%;
        padding: 20px;
        label {
          font-weight: 700;
          font-size: 20px;
          margin-bottom: 5px;
        }
        span{
          font-weight: 500;
          font-size: 20px;
          margin-bottom: 5px;
        }
        .total{

          display: flex;
          justify-content: space-between;
        }
        .total-pill{
          
          color: #000;
        }
        .total-tupe{
          color: #000;

        }
        .total-medicine{
          color: #000;
        }
        .add-new-medicine {
          display: flex;
          justify-content: center;
          align-items: center;
          .icon-container {
            width: 150px;
            height: 40px;
            border-radius: 10px;
            background-color: #c9e1f3;
            transition: width 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              cursor: pointer;
              background-color: rgb(4, 171, 255);
            }
            span{
              font-weight: 600;
              font-size: 20px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }

    .involve-table-button {
      display: flex;
      width: 70%;
      flex-direction: row;
      justify-content: center;
      height: auto;
      margin-top: 20px;
      .manage-medicine-title {
        font-size: 2.5rem;
      }

      .manage-medicine-table {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;

        #TableManageMedicine {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 95%;
          align-items: center;
          border-radius: 10px;
          border-collapse: collapse;
          border-radius: 1em;
          overflow: hidden;
        }

        #TableManageMedicine td,
        #TableManageMedicine th {
          border: 1px solid #ddd;
          padding: 8px;
          align-items: center;
        }

        #TableManageMedicine tr:nth-child(even) {
          background-color: #f2f2f2;
        }

        #TableManageMedicine tr:hover {
          background-color: #ddd;
        }

        #TableManageMedicine th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: rgb(4, 171, 255);
          color: white;
        }
      }
    }
  }
}
