.manage-schedule-container{
    .m-s-title{
        text-transform: uppercase;
        margin-top: 15px;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }
    .pick-hour-container{
        padding-top: 20px;
        display: flex;
        gap:20px;
        flex-wrap: wrap;
        padding-bottom: 20px;
        button{
            padding:5px 15px;
            // background: rgb(38, 170, 26);
            border: 1px solid #ccc;
            &.active{
                background: rgb(255, 150, 4);
            }
            &.full{
                background: rgb(4, 171, 255);
                cursor: not-allowed;
            }
            &.booked{
                background: rgb(30, 218, 155);
                cursor: not-allowed;
            }
        }
    }
    .btn-save-schedule{
        margin-top: 20px;
    }
    .color-description{
        width: 100%;
        display: flex;
        justify-content: space-around;
        .summary-status-active{
            color: #ffa800;
            min-width: 150px;
            font-size: 1.4rem;
            font-weight: 500;
            border: 1px solid #ffa800;
            float: left;
            text-align: center;

            border-radius: 10px;
        }
        .summary-status-booked{
            color: rgb(4, 171, 255);
            min-width: 150px;
            font-size: 1.4rem;
            font-weight: 500;
            float: left;
            text-align: center;
            border: 1px solid rgb(4, 171, 255);
            border-radius: 10px;
        }
        .summary-status-full{
            color: rgb(30, 218, 155);
            min-width: 150px;
            font-size: 1.4rem;
            float: left;
            text-align: center;

            font-weight: 500;
            border: 1px solid rgb(30, 218, 155);
            border-radius: 10px;
        }
        
    }
}