.schedule-container {
  min-height: 1500px;
  .doctors-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bce6e6;
    z-index: 1000;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    .grid-item {
      // border-right: 1px solid rgba(0, 0, 0, 0.8);
      // border-bottom: 1px solid rgba(0, 0, 0, 0.8);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px;
      .doctor-avatar {
        margin-top: 35px;
        height: 140px;
        width: 160px;
        border-radius: 50%;
        font-size: 0;
        background: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #dff0f5;
      }
      .doctor-position {
        border: 2px solid #35c861;
      }
      .professor-position {
        border: 2px solid #3809e2;
      }
      .assi-position {
        border: 2px solid #1dcbf7;
      }
      .master-position {
        border: 2px solid #e0e407;
      }
      .extra-infor {
        margin-top: 30px;
        .doctor-name {
          font-weight: 700;
          font-size: 20px;
        }
        .doctor-specialty {
          font-weight: 200;
          font-size: 15px;
        }
      }
    }
  }
  .list-doctor-title{
    font-size: 30px;
    text-align: center;
    color: #36ea36;
    margin: 10px;
  }
  .table-title{
    font-size: 30px;
    text-align: center;
    color: #36ea36;
    margin: 10px;
  }
  .day-title{
    background-color: #1dcbf7;
    font-size: 30px;
    text-align: center;
  }
  // .table-time-left{
  //   height: 100%;
  //   background-color: #1dcbf7;
  //   font-size: 30px;
  //   text-align: center;
  //   align-self: center;
  //   // color: #36ea36;
  //   margin: 10px;
  // }
  .table-time-morning {
    // background-color: #1dcbf7;
    display: flex;
    width: 100%;
    height: 100%;
    .table-time-left{
      display: block;
      width: 10%;
      height:inherit;
      // background-color: #1dcbf7;
      font-size: 30px;
      text-align: center;
      align-self: center !important;
      // min-height: 300px;
    }
    .table-time-right{
      width: 90%;
      display: flex;
      .day-container{
        width: 13%;

        .schedule-day {
          width: 100%;
          border: 1px solid #ccc;
          min-height: 200px;
          overflow-x: "auto";
          // flex: 1;
          .grid-item {
            // border-right: 1px solid rgba(0, 0, 0, 0.8);
            // border-bottom: 1px solid rgba(0, 0, 0, 0.8);
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            .doctor-avatar {
              margin-top: 35px;
              height: 140px;
              width: 150px;
              border-radius: 50%;
              font-size: 0;
              background: center center;
              background-repeat: no-repeat;
              background-size: contain;
            }
            .doctor-position {
              border: 2px solid #35c861;
            }
            .professor-position {
              border: 2px solid #3809e2;
            }
            .assi-position {
              border: 2px solid #1dcbf7;
            }
            .master-position {
              border: 2px solid #e0e407;
            }
            .extra-infor {
              margin-top: 30px;
              .doctor-name {
                font-weight: 700;
                font-size: 20px;
              }
              .doctor-specialty {
                font-weight: 200;
                font-size: 15px;
              }
            }
          }
        }
      }

    }
  
  }
  .table-time-afternoon {
    // background-color: #1dcbf7;
    margin-top: 100px;
    display: flex;
    width: 100%;
    height: 100%;
    .table-time-left{
      display: block;
      width: 10%;
      height:inherit;
      // background-color: #1dcbf7;
      font-size: 30px;
      text-align: center;
      align-self: center !important;
      // min-height: 300px;
    }
    .table-time-right{
      width: 90%;
      display: flex;
      .day-container{
        width: 13%;

        .schedule-day {
          width: 100%;
          border: 1px solid #ccc;
          min-height: 200px;
          overflow-x: "auto";
          // flex: 1;
          .grid-item {
            // border-right: 1px solid rgba(0, 0, 0, 0.8);
            // border-bottom: 1px solid rgba(0, 0, 0, 0.8);
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            .doctor-avatar {
              margin-top: 35px;
              height: 140px;
              width: 150px;
              border-radius: 50%;
              font-size: 0;
              background: center center;
              background-repeat: no-repeat;
              background-size: contain;
            }
            .doctor-position {
              border: 2px solid #35c861;
            }
            .professor-position {
              border: 2px solid #3809e2;
            }
            .assi-position {
              border: 2px solid #1dcbf7;
            }
            .master-position {
              border: 2px solid #e0e407;
            }
            .extra-infor {
              margin-top: 30px;
              .doctor-name {
                font-weight: 700;
                font-size: 20px;
              }
              .doctor-specialty {
                font-weight: 200;
                font-size: 15px;
              }
            }
          }
        }
      }

    }
  
  }
}
