.home-header-container {
    height: 60px;
    width: 100%;
    padding: 0 50px;
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 20%;
            display: flex;
            align-items: center;
            .header-logo {
                height: 100%;
                width: 100%;
                cursor: pointer;
                transform: scale(0.5, 0.5);
                margin-left: -45px;
            }

            i {
                font-size: 25px;
                color: gray;
                cursor: pointer;
            }
        }

        .center-content {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .child-content {
                font-size: 13;
                font-weight: bold;

                .sub-title {
                    font-weight: 100;
                    font-size: 8;
                }
            }


        }

        .right-content {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;

            .support {
                padding-right: 15px;
                display: flex;
                align-items: center;
                cursor: pointer;

                i {
                    font-size: 15px;
                    margin-right: 5px;
                }
            }

            .language-vi {
                cursor: pointer;
                opacity: 0.1;

                &.active {
                    opacity: 1;

                    span {
                        color: orange;
                    }
                }

                &:hover {
                    opacity: 1;
                }
            }

            .language-en {
                margin: 0 10px;
                cursor: pointer;
                opacity: 0.1;

                &.active {
                    opacity: 1;

                    span {
                        color: blue;
                    }
                }

                &:hover {
                    opacity: 1;
                }
            }
            .btn-logout{
                :hover{
                    color: #49bce2;
                }
            }
            .name-patient{
                cursor: pointer;
                &.active {
                    opacity: 1;
    
                    span {
                        color: blue;
                    }
                }
            }

        }
    }
}

.home-header-banner {
    background-image: url('../../assets/header-background.jpg');
    height: 540px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    opacity: 0.95;

    .content-up {
        height: 65%;
        padding-top: 15px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));

        .title1 {
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 5px;
            margin-top: 30px;
            color: white;
        }

        .title2 {
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            color: white;

        }

        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 10px;
            width: fit-content;
            border-radius: 30px;
            background: #f7d800;
            margin-top: 10px;

            i {
                margin: 0 5px;
            }

            input {
                height: 30px;
                width: 360px;
                background: transparent;
                border: none;
                outline: none;
            }
        }
    }

    .content-down {
        height: 35%;
        display: flex;
        padding-bottom: 10px;
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
        ;

        .options {
            text-align: center;
            display: flex;
            gap: 50px;
            justify-content: center;

            .option-child {
                width: 100px;

                .icon-child {
                    background: white;
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;

                    i {
                        font-size: 20px;
                        color: #49bce2;
                    }
                }

                .text-child {
                    font-size: 17px;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover {
                        color: #49bce2;
                    }

                }
            }
        }
    }

}