.rating-modal-container{

    .rating-modal-content{
        height: 400px;
        display: flex;
        flex-direction: column;
        .rating-modal-header{
            padding: 10px;
            border-bottom:1px solid #ccc ;
            .left{
                font-size: 15px;
                font-weight: 600;
                color: #333;
            }
            .right{
                float: right;
                cursor: pointer;
            }
        }
        .rating-modal-body{
            padding: 0px 10px;
            height:80%;
            .rating{
                // padding: 30px 20px;
                text-align: center;
                // display: flex;
                // justify-content: space-around;
                width: 100%;
                    padding: 10px;
                margin-bottom: 5px;
                .title-rating{
                    float: left;
                    font-size: 1.2rem;
                    color: #0a6f3c;
                    font-weight: 500;
                    // min-width: 100px;
                    width: 30%;
                    // padding: 10px;
                    img{
                        width: 50%;
                        height: 100%;
                        text-align: center;
                    }
                }
                .style-module_starRatingWrap__q-lJC{
                    width: 60%;
                }
                .comment-rate{
                    width: 100%;

                }
            }
            .comment-content{
                border: 1px solid rgb(238, 238, 238);
                padding: 12px;
                border-radius: 4px;
                resize: none;
                width: 100%;
                height: 150px;
                outline: 0px;
            }

        }
        .rating-modal-footer{
            // padding: 10px;
            // border-top: 1px solid #ccc;
            display: flex;
            justify-content: flex-end;
            gap:85px;
            margin-top: 5px;

            button{
                border: none;
                outline: none;
                padding: 3px 2px;
                border-radius: 5px;
                min-width: 100px;
            }
            .btn-rating-comfirm{
                background-color: rgb(73, 234, 73);
            }
            .btn-rating-cancel{
                background-color: rgb(255, 200, 81);
            }
        }
    }

}  
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color:whitesmoke !important;
} 